[submodule "thirdparty/curlpp"]
	path = thirdparty/curlpp
	url = https://github.com/lemunozm/curlpp.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
